<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> -->
    <title>{$sites[$siteid]['SITE_NAME']}-{lang('admin')}</title>
    <link href="{ADMIN_THEME}libs/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="{ADMIN_THEME}libs/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="{ADMIN_THEME}css/index.css" rel="stylesheet" type="text/css" />
    <link href="{ADMIN_THEME}css/dialog.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
    <script type="text/javascript" src="{ADMIN_THEME}js/dialog.js"></script>
    <script type="text/javascript" src="{ADMIN_THEME}js/iframeTools.js"></script>
    <style type="text/css">
    .objbody {
        overflow: hidden
    }
    </style>
</head>

<body scroll="no" class="objbody">
    <div class="header">
        <div class="logo lf">
            <a href="{SITE_PATH}" target="_blank">
                <img src="{ADMIN_THEME}images/admin_logo.png">
            </a>
        </div>
        <div class="col-auto">
            <ul class="nav white" id="top_menu" style="float: left;">
                {loop $menu['top'] $k=>$t}
                <li id="_M{$k}" class="{if $k==1}on{/if} top_menu">
                    <a href="javascript:_M({$k},{$t['select']},'{url($t['url'])}','{$t['name']}')" hidefocus="true" style="outline:none;">{lang($t['name'])}</a>
                </li>
                {/loop}                
                {if count($sites)>1 && $userinfo['site']==0}
                <li class="tab_web">
                    <a href="javascript:;" class="">{lang('a-sit-18')}</a>
                    <ul>
                        {loop $sites $sid=>$t}
                        <li style="margin:0"><a href="{url('admin', array('siteid'=>$sid))}">{$t['SITE_NAME']}</a></li>
                        {/loop}
                    </ul>
                </li>
                {/if}
            </ul>
            <ul class="nav white" style="float: right;">
                <li>
                    <a href="{url('admin/index/cache')}" target="right">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        {lang('a-men-19')}
                    </a>
                </li>
                <li>
                    <a href="{$site_url}{SITE_PATH}index.php" target="_blank" id="site_homepage">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        {$sites[$siteid]['SITE_NAME']}
                    </a>
                </li>
                <li>
                    <a href="javascript:;" onClick="logout();">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                        {lang('a-com-16')}
                    </a>
                </li>
            </ul>

        </div>
    </div>
    <div id="content">
        <div class="col-left left_menu">
            <div id="Scroll">
                <div id="leftMain"></div>
            </div>
        </div>
        <div class="col-1 lf cat-menu" id="display_center_id" style="display:none" height="100%">
            <div class="content">
                <iframe name="center_frame" id="center_frame" src="" frameborder="false" scrolling="auto" style="border:none" width="100%" height="auto" allowtransparency="true"></iframe>
            </div>
        </div>
        <div class="col-auto mr8 right_content">
            <div class="crumbs">
                {lang('a-com-18')} <span id="current_pos"></span>
            </div>
            <div class="col-1">
                <div class="content" style="position:relative; overflow:hidden">
                    <iframe name="right" id="rightMain" src="{url('admin/index/main')}" frameborder="false" scrolling="auto" style="border:none; margin-bottom:30px" width="100%" height="auto" allowtransparency="true"></iframe>
                    <!-- <div class="fav-nav">
                        &copy; 2011-{date('Y')}&nbsp;&nbsp;<strong><a class="fine-cms" href="#" target="_blank">H5Power</a></strong>&nbsp;v{CMS_VERSION} (Update:{CMS_UPDATE})
                        <span id="finecms_version"></span> &nbsp;&nbsp;&nbsp;&nbsp;
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="tab-web-panel hidden" style="position:absolute; z-index:999; background:#fff">
        <ul>
            {loop $sites $sid=>$t}
            <li style="margin:0"><a href="{url('admin', array('siteid'=>$sid))}">{$t['SITE_NAME']}</a></li>
            {/loop}
        </ul>
    </div>
    <div style="display:none;">
        {loop $menu['top'] $k=>$t}
        <div id="DIV_M{$k}">
            {loop $menu['list'][$k] $name=>$n}
            <h3 class="f14">
                <i class="fa fa-check-square-o text-danger" aria-hidden="true"></i>
                <i class="label switchs">{$n['name']}</i>
            </h3>
            <ul>
                {loop $n $id=>$v} {if is_array($v)}
                <li id="_MP{$v['id']}" class="sub_menu">
                    {if $v['isblank']}
                    <a target="_blank" {if isset($v[ 'url']) && $v[ 'url']}href="{if strpos($v['url'],'index.php') || strpos($v['url'],'http') !== false}{$v['url']}{else}{url($v['url'])}{/if}{if $v['query']}{$v['query']}{/if}" {/if} hidefocus="true" style="outline:none;">{if isset($v['sys'])}{$v['name']}{else}{$v['name']}{/if}</a> {else}
                    <a {if isset($v[ 'url']) && $v[ 'url']}href="javascript:_MP({$v['id']},'{if strpos($v['url'],'index.php') || strpos($v['url'],'http') !== false}{$v['url']}{else}{url($v['url'])}{/if}{if $v['query']}{$v['query']}{/if}','{php echo isset($v['clz']) ? $v['clz'] : 0;}');" {/if} hidefocus="true" style="outline:none;">{if isset($v['sys'])}{$v['name']}{else}{$v['name']}{/if}</a> {/if}
                </li>
                {/if} {/loop}
            </ul>
            {/loop}
            <script src="{ADMIN_THEME}js/switch.js"></script>
        </div>
        {/loop}
    </div>
    <!-- <div class="scroll">
        <a href="javascript:;" class="per" title="↑ {lang('a-mod-165')}" onclick="menuScroll(1);"></a>
        <a href="javascript:;" class="next" title="↓ {lang('a-mod-166')}" onclick="menuScroll(2);"></a>
    </div> -->
    <!-- <script type="text/javascript" src="http://www.dayrui.com/index.php?c=v1&m=version&id={CMS_VERSION}"></script> -->
    <script type="text/javascript">
    $(document).ready(function() {
        $('#DIV_M1').clone().appendTo('#leftMain');

        //左侧开关
        $("#openClose").click(function() {
            if ($(this).data('clicknum') == 1) {
                $("html").removeClass("on");
                $(".left_menu").removeClass("left_menu_on");
                $(this).removeClass("close");
                $(this).data('clicknum', 0);
                $(".scroll").show();
            } else {
                $(".left_menu").addClass("left_menu_on");
                $(this).addClass("close");
                $("html").addClass("on");
                $(this).data('clicknum', 1);
                $(".scroll").hide();
            }
            return false;
        });

        window.onload = function() {
            if (!+"\v1" && !document.querySelector) { // for IE6 IE7
                document.body.onresize = resize;
            } else {
                window.onresize = resize;
            }

            function resize() {
                wSize();
                return false;
            }
        }

        function wSize() {
            //这是一字符串
            var str = getWindowSize();
            var strs = new Array(); //定义一数组
            strs = str.toString().split(","); //字符分割
            var heights = strs[0] - 76,
                Body = $('body');
            // console.log(strs[0]);
            $('#rightMain').height(heights);
            //iframe.height = strs[0]-46;
            if (strs[1] < 980) {
                $('.header').css('width', 980 + 'px');
                $('#content').css('width', 980 + 'px');
                Body.attr('scroll', '');
                Body.removeClass('objbody');
            } else {
                $('.header').css('width', 'auto');
                $('#content').css('width', 'auto');
                Body.attr('scroll', 'no');
                Body.addClass('objbody');
            }

            var openClose = $("#rightMain").height() + 39;
            $('#center_frame').height(openClose + 9);
            $("#openClose").height(openClose + 30);
            $("#Scroll").height(openClose - 20);
            windowW();
        }
        wSize();

        function windowW() {
            $(".scroll").show();
        }
        windowW();


    });

    if (!Array.prototype.map)
        Array.prototype.map = function(fn, scope) {
            var result = [],
                ri = 0;
            for (var i = 0, n = this.length; i < n; i++) {
                if (i in this) {
                    result[ri++] = fn.call(scope, this[i], i, this);
                }
            }
            return result;
        };
    
    var getWindowSize = function() {
        return ["Height", "Width"].map(function(name) {
            return window["inner" + name] ||
                document.compatMode === "CSS1Compat" && document.documentElement["client" + name] || document.body["client" + name]
        });
    }

    function _M(menuid, sid, targetUrl, name) {
        $("#menuid").val(menuid);
        $("#bigid").val(menuid);
        var menu = "#DIV_M" + menuid;
        $('#leftMain').html("");
        $(menu).clone().appendTo($("#leftMain"));
        $('.top_menu').removeClass("on");
        $('#_M' + menuid).addClass("on");
        //显示左侧菜单，当点击顶部时，展开左侧
        $(".left_menu").removeClass("left_menu_on");
        $("#openClose").removeClass("close");
        $("html").removeClass("on");
        $("#openClose").data('clicknum', 0);
        $("#current_pos").data('clicknum', 1);
        $("#rightMain").attr('src', targetUrl);
        $('#_MP' + sid).addClass("on");
        $('#current_pos').html(name);
    }

    function _MP(id, targetUrl, clz) {
        var title = $("#_MP" + id).find('a').html();
        $("#current_pos").html(title);
        $("#rightMain").attr('src', targetUrl);
        $('.sub_menu').removeClass("on");
        $('#_MP' + id).addClass("on");
    }


    (function() {
        var addEvent = (function() {
                if (window.addEventListener) {
                    return function(el, sType, fn, capture) {
                        el.addEventListener(sType, fn, (capture));
                    };
                } else if (window.attachEvent) {
                    return function(el, sType, fn, capture) {
                        el.attachEvent("on" + sType, fn);
                    };
                } else {
                    return function() {};
                }
            })(),
            Scroll = document.getElementById('Scroll');
        // IE6/IE7/IE8/Opera 10+/Safari5+
        addEvent(Scroll, 'mousewheel', function(event) {
            event = window.event || event;
            if (event.wheelDelta <= 0 || event.detail > 0) {
                Scroll.scrollTop = Scroll.scrollTop + 29;
            } else {
                Scroll.scrollTop = Scroll.scrollTop - 29;
            }
        }, false);

        // Firefox 3.5+
        addEvent(Scroll, 'DOMMouseScroll', function(event) {
            event = window.event || event;
            if (event.wheelDelta <= 0 || event.detail > 0) {
                Scroll.scrollTop = Scroll.scrollTop + 29;
            } else {
                Scroll.scrollTop = Scroll.scrollTop - 29;
            }
        }, false);

    })();

    function menuScroll(num) {
        var Scroll = document.getElementById('Scroll');
        if (num == 1) {
            Scroll.scrollTop = Scroll.scrollTop - 60;
        } else {
            Scroll.scrollTop = Scroll.scrollTop + 60;
        }
    }

    function logout() {
        if (confirm("{lang('a-com-19')}"))
            top.location = '{url("admin/login/logout/")}';
        return false;
    }
    </script>
</body>

</html>
