<!DOCTYPE html>
<html>

<head>
    <title>登录-管理后台</title>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="format-detection" content="telephone=no">
    <link href="{ADMIN_THEME}css/login.css" rel="stylesheet" type="text/css" />
    <link href="{ADMIN_THEME}libs/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $("#pd-form-username").focus();
    });
    </script>
</head>

<body class="loginBody">
    <div id="login" class="clearfix" style="margin-top: 100px">
        <div class="login-form" id="login-frame">
            <form action="" method="post">
                <div id="loading" style="display:none;"></div>
                <img src="{ADMIN_THEME}images/profle_1.png" />
                <div class="text-left">
                    <label>账号</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" name="username" id="pd-form-username" placeholder="请输入账号" autocomplete="off" />
                    </div>
                    <label>密码</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
                        <input type="password" name="password" id="pd-form-password" class="form-control" placeholder="请输入密码" autocomplete="off" />
                    </div>
                    {if $SITE_ADMIN_CODE}
                    <label>{lang('a-com-23')}</label>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span></div>
                        <input type="text" name="code" id="pd-form-code" class="form-control" placeholder="{lang('a-com-23')}" autocomplete="off" />
                        <div class="input-group-addon" id="code-con"><img id="code" src="{url('api/captcha/', array('width'=>90, 'height'=>32))}" align="absmiddle" title="{lang('a-com-24')}" onclick="this.src='{url('api/captcha/', array('width'=>90, 'height'=>32))}&'+Math.random();"></div>
                    </div>
                    {/if}
                </div>
                <div class='login-item'>
                    <input type="submit" class="btn" name="submit" value="{lang('a-login')}" style="cursor:pointer;" />
                </div>
                <div id="copyrights">© 2014-{date('Y')} <a href="http://www.h5power.cn" target="_blank">{CMS_NAME}-{CMS_VERSION}</a> All rights reserved.</div>
            </form>
        </div>
    </div>
    <div style="display:none"></div>
</body>

</html>
